
.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: masonry;
  
}

/* Small */
@media (max-width: 655px) {
    .masonry {
      background: red;
    column-count: 1 !important;
    column-gap: 3em; 
  }
  
}
/* medium */
@media (min-width: 609px) {
    .masonry {
      background: blue;
    column-count: 3;
    column-gap: 2em; 
  }
  
}

